/* Navigation Stylesheet*/

nav{
    padding: 20px 0 20px 0;
    margin: 10px;
    background-color: white;
    text-align: center;
    list-style-type: none;
    border: 3px solid #173f73;
   
}

nav ul li{
    padding: 0 25px 0 25px;
    color: #173f73;
    display: inline-block;
}

nav ul li a{
    text-decoration: none; 
    font-family: "Arial", sans-serif;
    color: #173f73;
}
