/* Navigation Stylesheet*/

.nav ul li{
    display: inline-block;
    border: 3px #173f73;
    list-style-type: none;
    padding: 15px 15px 15px 15px ;
    margin-top: 0;
    background-color: white;
    color: #6CB871; 
    width: 200px;
    text-align: center;
    font-family: "Arial", sans-serif; 
}


