/* Stylesheet */
@font-face {
    font-family: "Merriweather";
    src: url(Merriweather/Merriweather-Bold.ttf);
}

.heading{
    color: #6CB871; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 28pt;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0;
    position: relative;
}

main h2{
    color: #021859; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 0;
    padding: 5px;
}

main h3{
    color: #021859; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    
}
main h4{
    color: #021859; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    padding: 0;
    margin: 0;
}
main h5{
    color: #021859; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0;
    padding: 0;
}

main{
    color: #173F73;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.homelayout{
    display: grid; 
    grid-gap: 20px;
    grid-template-columns: [col1-start] 15%  [col2-start] 25%  [col3-start] 25% [col4-start] 25% [col4-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3-end];
}

.welcomestatement{
    grid-column: col1-start / col2-end;
    grid-row: row1-start / row2-start;
    font-size: 110%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#CEE8F2,white);
    text-align: center;
    font-weight: bold;
    border: 1px; 
    margin-top: 5px;
    border-color: #6CB871;
}

.purposeparagraph{
    grid-column: col1-start / col4-end;
    grid-row: row2-start;
    text-align: center;
    font-size: 120%;
    padding: 20px;
}
/*.home img{

}*/
.aboutlayout{
    display: grid; 
    grid-gap: 20px;
    grid-template-columns: [col1-start] 33%  [col2-start] 33%  [col3-start] 33% [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row4-end];
}
.box0{
    padding: 20px;
}

.box{
    border-radius: 5px;
    padding: 20px;
}
.box2{
    padding: 20px;  
}

.a {
    grid-column: col1-start / col3-end;
    grid-row: row1-start / row2-start;
    margin-top: 20px;
    font-size: 110%;
    border-bottom: 3px solid #021859;
}
.e img{
    grid-column: col1-start;
    grid-row: row3start / row3start;
    display: block; 
    margin: auto;
    width: 275px;
}
.b {
    grid-column: col2-start /col3-end;
    grid-row: row2-start / row3-start;
    border-radius: 100px;
}
.c {
    grid-column: col1-start / col3-end;
    grid-row: row3-start /row4-start;
    background-color: white;
    color: #173F73;
    font-size: 140%;
    font-family: "Merriweather", serif;
    text-align: left;
    margin-bottom: 5px;
    text-align: center;
}

.f{
    grid-column: col1-start / col3-end;
    grid-row: row4-start;
    background-color: #173F73 ;
    border-radius: 12px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}
.whitetext{
    color: white; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.projectlayout{
    display: grid; 
    width: 96%;
    grid-gap: 20px;
    grid-template-columns: [col1-start] 25%  [col2-start] 25%  [col3-start] 25% [col4-start] 25% [col4-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row4-end];
}

.description1{
    grid-column: col2-start /col4-end;
    grid-row: row1-start / row2-start;
}

.pals img{
    grid-column: col1-start;
    grid-row: row1-start;
    width: 250px;
}

.description2{
    grid-column: col1-start / col4-start;
    grid-row: row2-start / row3-start;
}

.walk img{
    grid-column: col3-start / col4-start;
    grid-row: row2-start / row3-start;
    width: 250px;
}

.description3{
    grid-column: col2-start / col4-end;
    grid-row: row3-start /row4-start;
}

.horse img{
    grid-column: col1-start / col2-start;
    grid-row: row3-start /row4-start;
    width: 250px;
}

.tablebox{
    grid-column: col2-start / col4-start;
    grid-row: row4-start;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

table{
    border: 3px solid #6CB871;
    font-size: 110%;

}
caption{
    color: #021859; 
    font-family: "Merriweather", serif;
    font-weight:bold; 
}

.contactlayout{
    display: grid; 
    width: 96%;
    grid-gap: 20px;
    grid-template-columns: [col1-start] 50% [col2-start] 50% [col2-end];;
    grid-template-rows: [row1-start] 25% [row2-start] 75% [row2-end];
}

.contactform{
    grid-column: col1-start / col2-start;
    grid-row: row1-start /row2-start;
    padding: 10px;
    margin: 10px;
}

form label{
    font-weight: bold; 
}


#submit-button{
    border: none;
    background-color: #6CB871;
    padding: 10px 20px;
    color: white;
    border-radius: 20px; 
    text-align: center; 
    font-weight: bold; 
    display: block;
    font-size: 80%;
}


thead th{
    background-color: #CEE8F2;
}

tfoot th{
    background-color: #CEE8F2;
}

tbody tr:nth-child(odd) {
    background-color: lightgray
}

.links{
    border: none;
    background-color: #6CB871;
    padding: 10px 20px;
    color: white;
    border-radius: 20px; 
    text-align: center; 
    font-weight: bold; 
    display: block; 
}

.links:hover{
   color: lightgray 
}

.indent{
    text-indent: 50px
}

.reflectionlayout{
    width: 96%;
    padding: 10px;
    margin: 20px;
    border: none;
}

main ul li{
    color: #173F73;
    font-family: Arial, Helvetica, sans-serif;
}

main ul li ul li{
    color: #173F73;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{  
    position: absolute;
    margin-bottom: -5px;
    width: 100%;
    height: 200px;
    text-align:center;
    background-image: url(images/mountains1.jpg);
    background-size: cover;
}

.footer2{  
    position: absolute;
    bottom: 0;
    margin-bottom: -5px;
    width: 100%;
    height: 200px;
    text-align:center;
    background-image: url(images/mountains1.jpg);
    background-size: cover;
}
.footertext{
    background-color: #CEE8F2;
    height: 90%;
    opacity: 0.7;
    color: #173F73;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px 10px 10px 10px;

}
.icon{
    width: 20px;
}

.iconeffect:hover{
    transform: scale(1.2);
}



/* MEDIA QUERIES */
/* Mobile Queries */
@media only screen and (max-width: 640px){
    .homelayout{
        font-size: 75%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .e img{
        max-width: 150px; 
        display: block; 
        margin: auto;  
    }

    .f{
        max-width: 640px;
    }
    embed{
        max-width: 400px;
    }
    .aboutlayout{
        font-size: 75%;
        display: flex;
        flex-wrap: wrap;
    }
    .projectlayout{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
    }
    .reflectionbox{
        display: flex; 
        flex-wrap: wrap; 
    }
}
@media only screen and (max-width: 1200px){
    .aboutlayout{
        font-size: 75%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    .projectlayout{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
    }
}

/* Print Queries */
@media print {
    *{
        background: transparent !important;
        color: black !important;
        box-shadow: none !important; 
        text-shadow: none !important; 
        font-family: Georgia, 'Times New Roman', Times, serif !important;
    }
    nav{
        display: none;
    }

    .aboutlayout{ 
        margin: -10px;
        font-size: 80%;
        padding: 0;
    }
    .a{
        grid-column: col1-start / col3-end;
        grid-row: row1-start / row2-start;
        margin-top: 0;
    }
    .links{
        display: none;
    }
    .b{
        font-family: Georgia, 'Times New Roman', Times, serif;
        grid-column: col1-start / col3-end;
        grid-row: row3-start;
    }
    .c{
        font-family: "Merriweather";
        grid-column: col1-start / col3-end;
        grid-row: row2-start / row3-start;
    }
    .f{
        display: none;
    }

    a[href]::after{
        content: "["attr(href)"]";
        color: blue;
    }
    .e img{
        display:none; 
    }
    @page{
      margin: 1in;  
    }
}
