/* Stylesheet */

.heading{
    color: #6CB871; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 25pt;
    margin-top: 10px;
    padding: 0;
}

main h2{
    color: #021859; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 0;
    padding: 5px;
}

main h3{
    color: #021859; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    
}
main h4{
    color: #021859; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    padding: 0;
    margin: 0;
}
main h5{
    color: #021859; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0;
    padding: 0;
}

main{
    color: #173F73;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.homelayout{
    display: grid; 
    grid-gap: 20px;
    grid-template-columns: [col1-start] 15%  [col2-start] 52%  [col3-start] 33% [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2end];
}

.welcomestatement{
    grid-column: col1-start / col3-end;
    grid-row: row1-start / row2-start;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #CEE8F2;
    text-align: center;
    font-weight: bold;
    border: 1px; 
    border-color: #6CB871;
}

.purposeparagraph{
    grid-column: col1-start / col3-start;
    grid-row: row2-start;
    text-align: left;
    font-size: 110%;
}

.aboutlayout{
    display: grid; 
    grid-gap: 20px;
    grid-template-columns: [col1-start] 33%  [col2-start] 33%  [col3-start] 33% [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row4-end];
}

.box{
    border-radius: 5px;
    padding: 20px;
}
.box2{
    border-radius: 50px;
    padding: 20px;  
}
.a {
    grid-column: col1-start / col3-start;
    grid-row: row1-start / row3-start;
}

.b {
    grid-column: col3-start ;
    grid-row: row2-start / row3-start;
}
.c {
    grid-column: col1-start / col3-start;
    grid-row: row3-start /row4-end;
    background-color: #173F73;
    color: white;
    font-size: 125%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px; 
}
.d {
    grid-column: col3-start ;
    grid-row: row4-start ;
    text-align: center; 
}

.e{
    grid-column: col3-start;
    grid-row: row1start / row2start;
}

.projectlayout{
    display: grid; 
    width: 98%;
    grid-gap: 20px;
    grid-template-columns: [col1-start] 25%  [col2-start] 25%  [col3-start] 25% [col4-start] 25% [col4-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3end];
}

.description1{
    grid-column: col2-start /col4-end;
    grid-row: row1-start / row2-start;
}

.description2{
    grid-column: col1-start / col3-start;
    grid-row: row2-start / row3-start;
}

.description3{
    grid-column: col2-start /col4-end;
    grid-row: row3-start;
}

.links{
    border: none;
    background-color: #6CB871;
    padding: 10px 20px;
    color: white;
    border-radius: 20px; 
    text-align: center; 
    text-decoration: none;
    font-weight: bold; 
}

.indent{
    text-indent: 50px
}

.reflectionbox{
    padding: 10px;
    margin: 20px;
    border: none;

}

/*
.p::first-letter {
    color: #021859;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
*/

main ul li{
    color: #173F73;
    font-family: Arial, Helvetica, sans-serif;
}

main ul li ul li{
    color: #173F73;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{  
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #CEE8F2;
    text-align:center;
}

.footerfixed{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #CEE8F2;

}

footer p{
    color: #173F73;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

/* Media Queries */
@media only screen and (max-width: 768px){
    [class*="aboutbox"] {
        width: 100%;
      }
}










